@font-face {
  font-family: 'Formula1-Regular';
  src: url('/F1\ Font/Formula1-Regular.woff2') format('woff2'),
       url('/F1\ Font/Formula1-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Formula1-Bold';
  src: url('/F1\ Font/Formula1-Bold.woff2') format('woff2'),
       url('/F1\ Font/Formula1-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Formula1-Wide';
  src: url('/F1\ Font/Formula1-Wide.woff2') format('woff2'),
       url('/F1\ Font/Formula1-Wide.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Formula1-Bold', sans-serif;
  font-size: 2.5rem;
  color: #000000;
  text-align: center;
  margin-top: 1rem;
}



.leyendas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  max-width: 1400px;
  margin: 0 auto;
}

.card-leyenda {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  width: 280px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;
}

.card-leyenda:hover {
  transform: scale(1.03);
}

.card-leyenda img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.card-leyenda h2 {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: #000000;
}
